[Unit]
Description=Emacs: the extensible, self-documenting text editor
Requires=emacs.socket

[Service]
Type=forking
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
#Restart=always
TimeoutStartSec=0

[Install]
WantedBy=default.target
