[Unit]
Description=Emacs: the extensible, self-documenting text editor
Wants=dbus.service
After=dbus.service

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=default.target
