[user]
	email = matthew.f.conway@gmail.com
	name = Matthew Conway
[diff]
        tool = ediff
        guitool = ediff

[difftool "ediff"]
        cmd = ~/bin/ediff.sh $LOCAL $REMOTE $MERGED
[push]
        default = simple
[merge]
        tool = ediff

[mergetool "ediff"]
        cmd = ~/bin/ediff.sh $LOCAL $REMOTE $MERGED $BASE
        trustExitCode = true
[color]
	ui = auto
